<%=link_to "Home", root_path%>
<%if @comments.size==0%>
    <p>No Comments</p>
<%else%>
    <%@comments.each do |c|%>
        <p>Author: <%=c.author%></p>
        <p>Comment: <%=c.body%></p>
        <p>----------</p>
    <%end%>
<%end%>